.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
<<<<<<< HEAD

    display: grid;
=======
   
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 1fr 48px 48px 48px 48px;
>>>>>>> 32fc4cd7895faba1de564984c97a66e0c1ef653e
}